USE [master]
GO
/****** Object:  Database [PersonDB]    Script Date: 31/07/2025 3:18:39 p. m. ******/
CREATE DATABASE [PersonDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PersonDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PersonDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonDB]
GO
/****** Object:  User [Tarjeta]    Script Date: 31/07/2025 3:18:39 p. m. ******/
CREATE USER [Tarjeta] FOR LOGIN [Tarjeta] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[cards]    Script Date: 31/07/2025 3:18:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cards](
	[id_card] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](300) NULL,
	[number] [varchar](100) NULL,
	[type] [varchar](100) NULL,
	[cvv] [int] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_card] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
